<h1>easyランキング</h1>
<% @score.each do |score| %>
  <span><%= score.name %>:<%= score.score %>:<%= score.level %></span>
  </br>
<% end %>
<%=link_to(setting_path) do %>
  <button class="btn btn-secondary btn-lg" >設定</button>
<%end%>

<%=link_to(root_path) do %>
  <button class="btn btn-secondary btn-lg" >タイトルに戻る</button>
<%end%>
