<h1>モード選択</h1>
<%=link_to(nomal_easy_path) do %>
  <button class="reset flat border" >ノーマル：easy</button>
<%end%>

<%=link_to(nomal_medium_path) do %>
  <button class="reset flat border" >ノーマル：medium</button>
<%end%>

<%=link_to(nomal_hard_path) do %>
  <button class="reset flat border" >ノーマル：hard</button>
<%end%>

<%=link_to(rank_easy_path) do %>
  <button class="reset flat border" >ランク：easy</button>
<%end%>

<%=link_to(rank_medium_path) do %>
  <button class="reset flat border" >ランク：medium</button>
<%end%>

<%=link_to(rank_hard_path) do %>
  <button class="reset flat border" >ランク：hard</button>
<%end%>

<div class="left">
<%=link_to(setting_path) do %>
  <button class="reset flat border left" >設定</button>
<%end%>
<%=link_to(root_path) do %>
  <button class="reset flat border left" >タイトルに戻る</button>
<%end%>
</div>

