<h1>モード選択</h1>
<%=link_to(nomal_easy_path) do %>
  <button class="btn btn-secondary btn-lg" >ノーマル：easy</button>
<%end%>

<%=link_to(nomal_medium_path) do %>
  <button class="btn btn-secondary btn-lg" >ノーマル：medium</button>
<%end%>

<%=link_to(nomal_hard_path) do %>
  <button class="btn btn-secondary btn-lg" >ノーマル：hard</button>
<%end%>

<%=link_to(rank_easy_path) do %>
  <button class="btn btn-secondary btn-lg" >ランク：easy</button>
<%end%>

<%=link_to(rank_medium_path) do %>
  <button class="btn btn-secondary btn-lg" >ランク：medium</button>
<%end%>

<%=link_to(rank_hard_path) do %>
  <button class="btn btn-secondary btn-lg" >ランク：hard</button>
<%end%>

<%=link_to(setting_path) do %>
  <button class="btn btn-secondary btn-lg" >設定</button>
<%end%>

<%=link_to(root_path) do %>
  <button class="btn btn-secondary btn-lg" >タイトルに戻る</button>
<%end%>
